header 
    .wrapper
        .logo
            h1 My-Giro
        nav.main-menu 
            ul 
                li 
                    a(href="index.html") Главная
                li 
                    a(href="about.html") О нас
                li 
                    a(href="") Каталог
                li 
                    a(href="") Полезное
