- var docName = "MyGiro"

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title="О нас"
        style 
            include styles/style.css
    body 
        include modules/header     
        .wrapper
            .header-bg
                h1 О нас 
            .about-info
                h2 My-Giro - магазины техники будущего в Москве и Екатеринбурге
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea a doloremque esse qui eum aut molestiae distinctio deserunt quas atque? Accusamus minima nam esse, ducimus dolore quis autem blanditiis. Doloremque.
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium temporibus nobis provident quas sequi in dignissimos, maxime magnam, culpa, enim corrupti quae molestias officiis placeat iure ducimus dolores. Nam, sint!
                h2 Адреса магазинов:
        include modules/footer